<div class="container">
	<div class="row">
    	<!-- BEGIN PRODUCTS -->
  		<div class="col-md-3 col-sm-6">
    		<span class="thumbnail text-center">
      			<img src="https://cdn.pastemagazine.com/www/system/images/photo_albums/best-comic-book-covers-of-2013/large/photo_27264_0.jpg?1384968217" alt="..." height="250" width="250">
      			<h4 class="text-danger">Wolverine</h4>
      			<p>Auction End in 5 days</p>
						<button type="button" class="btn btn-link">Agregar a Wishlist</button>
      			<hr class="line">
      			<div class="row">
      				<div class="col-md-6 col-sm-6">
      					<button class="btn btn-danger right" > COMPRAR</button>
      				</div>
							<div class="col-md-6 col-sm-6">
      					<%= link_to '<button class="btn btn-success right" > LEER MAS</button>'.html_safe, book_path(1) %>
      				</div>

      			</div>
    		</span>
  		</div>

  		<div class="col-md-3 col-sm-6">
    		<span class="thumbnail text-center">
      			<img src="https://comicsastonish.files.wordpress.com/2012/02/tec880.jpg" alt="..." height="250" width="250">
      			<h4 class="text-danger">Flash red point</h4>
      			<p>Auction End in 5 days</p>
						<button type="button" class="btn btn-link">Agregar a Wishlist</button>
      			<hr class="line">
      			<div class="row">
      				<div class="col-md-6 col-sm-6">
      					<button class="btn btn-danger right" > COMPRAR</button>
      				</div>
							<div class="col-md-6 col-sm-6">
      					<button class="btn btn-success right" > LEER MAS</button>
      				</div>

      			</div>
    		</span>
  		</div>

  		<div class="col-md-3 col-sm-6">
    		<span class="thumbnail text-center">
      			<img src="http://media.comicbook.com/uploads1/2015/01/spider-man-1-cover-117628.jpg" alt="..." height="250" width="250">
      			<h4 class="text-danger">Linterna Verde</h4>
      			<p>Auction End in 5 days</p>
						<button type="button" class="btn btn-link">Agregar a Wishlist</button>
      			<hr class="line">
      			<div class="row">
      				<div class="col-md-6 col-sm-6">
      					<button class="btn btn-danger right" > COMPRAR</button>
      				</div>
							<div class="col-md-6 col-sm-6">
      					<button class="btn btn-success right" > LEER MAS</button>
      				</div>

      			</div>
    		</span>
  		</div>

  		<div class="col-md-3 col-sm-6">
    		<span class="thumbnail text-center">
      			<img src="https://s-media-cache-ak0.pinimg.com/736x/f7/13/1e/f7131e169e91657f6998875d59bf37cc.jpg" alt="..." height="250" width="250">
      			<h4 class="text-danger">Ironman</h4>
      			<p>Auction End in 5 days</p>
						<button type="button" class="btn btn-link">Agregar a Wishlist</button>
      			<hr class="line">
      			<div class="row">
      				<div class="col-md-6 col-sm-6">
      					<button class="btn btn-danger right" > COMPRAR</button>
      				</div>
							<div class="col-md-6 col-sm-6">
      					<button class="btn btn-success right" > LEER MAS</button>
      				</div>
      			</div>
    		</span>
  		</div>

  		<div class="col-md-3 col-sm-6">
    		<span class="thumbnail text-center">
      			<img src="http://vignette2.wikia.nocookie.net/marvel_dc/images/3/3f/Katana_Vol_1_4.jpg/revision/latest?cb=20130509075244" alt="..." height="250" width="250">
      			<h4 class="text-danger">Katana</h4>
      			<p>Auction End in 5 days</p>
						<button type="button" class="btn btn-link">Agregar a Wishlist</button>
      			<hr class="line">
      			<div class="row">
      				<div class="col-md-6 col-sm-6">
      					<button class="btn btn-danger right" > COMPRAR</button>
      				</div>
							<div class="col-md-6 col-sm-6">
      					<button class="btn btn-success right" > LEER MAS</button>
      				</div>
      			</div>
    		</span>
  		</div>



  		<div class="col-md-3 col-sm-6">
    		<span class="thumbnail text-center">
      			<img src="https://www.wired.com/wp-content/uploads/blogs/geekmom/wp-content/uploads/2012/10/Mighty-Thor-Variant-Cover-Image-Copyright-Marvel-Comics.jpg" alt="..." height="250" width="250">
      			<h4 class="text-danger">Toyota Fortuner</h4>
      			<p>Auction End in 5 days</p>
						<button type="button" class="btn btn-link">Agregar a Wishlist</button>
      			<hr class="line">
      			<div class="row">
      				<div class="col-md-6 col-sm-6">
      					<button class="btn btn-danger right" > COMPRAR</button>
      				</div>
							<div class="col-md-6 col-sm-6">
      					<button class="btn btn-success right" > LEER MAS</button>
      				</div>
      			</div>
    		</span>
  		</div>

			<div class="col-md-3 col-sm-6">
				<span class="thumbnail text-center">
						<img src="https://www.wired.com/wp-content/uploads/blogs/geekmom/wp-content/uploads/2012/10/Mighty-Thor-Variant-Cover-Image-Copyright-Marvel-Comics.jpg" alt="..." height="250" width="250">
						<h4 class="text-danger">Toyota Fortuner</h4>
						<p>Auction End in 5 days</p>
						<button type="button" class="btn btn-link">Agregar a Wishlist</button>
						<hr class="line">
						<div class="row">
							<div class="col-md-6 col-sm-6">
								<button class="btn btn-danger right" > COMPRAR</button>
							</div>
							<div class="col-md-6 col-sm-6">
								<button class="btn btn-success right" > LEER MAS</button>
							</div>
						</div>
				</span>
			</div>

			<div class="col-md-3 col-sm-6">
				<span class="thumbnail text-center">
						<img src="https://www.wired.com/wp-content/uploads/blogs/geekmom/wp-content/uploads/2012/10/Mighty-Thor-Variant-Cover-Image-Copyright-Marvel-Comics.jpg" alt="..." height="250" width="250">
						<h4 class="text-danger">Toyota Fortuner</h4>
						<p>Auction End in 5 days</p>
						<button type="button" class="btn btn-link">Agregar a Wishlist</button>
						<hr class="line">
						<div class="row">
							<div class="col-md-6 col-sm-6">
								<button class="btn btn-danger right" > COMPRAR</button>
							</div>
							<div class="col-md-6 col-sm-6">
								<button class="btn btn-success right" > LEER MAS</button>
							</div>
						</div>
				</span>
			</div>
			<div class="col-md-3 col-sm-6">
				<span class="thumbnail text-center">
						<img src="https://www.wired.com/wp-content/uploads/blogs/geekmom/wp-content/uploads/2012/10/Mighty-Thor-Variant-Cover-Image-Copyright-Marvel-Comics.jpg" alt="..." height="250" width="250">
						<h4 class="text-danger">Toyota Fortuner</h4>
						<p>Auction End in 5 days</p>
						<button type="button" class="btn btn-link">Agregar a Wishlist</button>
						<hr class="line">
						<div class="row">
							<div class="col-md-6 col-sm-6">
								<button class="btn btn-danger right" > COMPRAR</button>
							</div>
							<div class="col-md-6 col-sm-6">
								<button class="btn btn-success right" > LEER MAS</button>
							</div>
						</div>
				</span>
			</div>

			<div class="col-md-3 col-sm-6">
				<span class="thumbnail text-center">
						<img src="https://www.wired.com/wp-content/uploads/blogs/geekmom/wp-content/uploads/2012/10/Mighty-Thor-Variant-Cover-Image-Copyright-Marvel-Comics.jpg" alt="..." height="250" width="250">
						<h4 class="text-danger">Toyota Fortuner</h4>
						<p>Auction End in 5 days</p>
						<button type="button" class="btn btn-link">Agregar a Wishlist</button>
						<hr class="line">
						<div class="row">
							<div class="col-md-6 col-sm-6">
								<button class="btn btn-danger right" > COMPRAR</button>
							</div>
							<div class="col-md-6 col-sm-6">
								<button class="btn btn-success right" > LEER MAS</button>
							</div>
						</div>
				</span>
			</div>
  		<!-- END PRODUCTS -->




	</div>
</div>
