<div class="container">
	<div class="row product-detail-2">
		<div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
            <div class="wrapper">
                <div class="row">
                    <div id="myCarousel" class="carousel slide" data-ride="carousel">
        			<ol class="carousel-indicators">
    				    <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
    				    <li data-target="#myCarousel" data-slide-to="1" class="active"></li>
    				    <li data-target="#myCarousel" data-slide-to="2" class="active"></li>
    				    <li data-target="#myCarousel" data-slide-to="3" class="active"></li>
    				</ol>
    				<div class="carousel-inner">
    			  		<div class="item active">
    					 	<img src="https://i.annihil.us/u/prod/marvel/i/mg/6/40/5137bcc76b750/background.jpg" alt="First slide">
    					</div>
    					<div class="item">
    					 	<img src="http://berkeleyplaceblog.com/wp-content/uploads/2012/09/wolverine-max-1-cover.jpg" alt="First slide">
    					</div>
    					<div class="item">
    					 	<img src="http://forbiddenplanet.blog/wp2013/wp-content/uploads/2013/10/savage-wolverine-9-jock-01.jpg" alt="First slide">
    					</div>
    					<div class="item">
    					 	<img src="https://i.ytimg.com/vi/7C7pHC2YQ50/maxresdefault.jpg" alt="First slide">
    					</div>
    				</div>
    				<a class="left carousel-control" href="#myCarousel" data-slide="prev">
    					<span class="glyphicon glyphicon-chevron-left"></span>
    				</a>
    				<a class="right carousel-control" href="#myCarousel" data-slide="next">
    					<span class="glyphicon glyphicon-chevron-right"><%= evil_icon 'ei-arrow-right', size: :m %></span>
    				</a>
    		    </div>
                </div>
                <div class="row">
                    <h1>Wolverine MAX, Vol. 1: Permanent Rage</h1>
                </div>
                <div class="product-price">$ 1234.00</div>
                <div class="product-stock">In Stock</div>
                <hr>
                <div class="btn-group cart">
                  <button type="button" class="btn btn-success">
										<b>Add to cart </b><br>
											 <%= evil_icon 'ei-cart', size: :m %>
                  </button>
                </div>
                <div class="btn-group wishlist">
                  <button type="button" class="btn btn-danger"  >
                    <b>
											Add to wishlist <br>
                    </b>
										<%= evil_icon 'ei-heart', size: :m %>
                  </button>
                </div>

            </div>
        </div>
        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
            <div class="wrapper">
                <div class="row">
                    <div class="col-lg-3">
                        <div class="vendor-logo">
                            <img src="https://10deb7fbfece20ff53da-95da5b03499e7e5b086c55c243f676a1.ssl.cf1.rackcdn.com/42fdec9868bed6ab146bc2fce04c00c2_xl.jpg">
                        </div>
                    </div>
                    <div class="col-lg-9">
                        <h2>Wolverine MAX, Vol. 1: Permanent Rage</h2>
												<link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css">
													<div class="stars">
													  <form action="">
													    <input class="star star-5" id="star-5" type="radio" name="star"/>
													    <label class="star star-5" for="star-5"></label>
													    <input class="star star-4" id="star-4" type="radio" name="star"/>
													    <label class="star star-4" for="star-4"></label>
													    <input class="star star-3" id="star-3" type="radio" name="star"/>
													    <label class="star star-3" for="star-3"></label>
													    <input class="star star-2" id="star-2" type="radio" name="star"/>
													    <label class="star star-2" for="star-2"></label>
													    <input class="star star-1" id="star-1" type="radio" name="star"/>
													    <label class="star star-1" for="star-1"></label>
													  </form>
													</div>

                        <div class="vendor-last-login">
                            El autor x se logeo por ultima vez: 09 Nov 2015
                        </div>
                        <div class="vendor-feedback">
                            98% (1130 feedback)
                        </div>
                         <div class="vendor-reject">
                            Menolak 7 pesanan dari total 100
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-12">
                        <h3>(Wolverine Max #1)</h3>
                        <div class="product-specifications">
                          by Jason Starr (Text), Connor Willumson (Illustrations)
                        </div>
                        <h3>Descripcion</h3>
                        <div class="product-descriptions">
                        <p>
                          Your favorite X-Man done the way you wanted to see him - in a no-holds-barred MAX series written by award-winning
                          crime novelist Jason Starr (PUNISHER MAX, The Chill)! In modern-day Tokyo, Logan gets pulled into a terrorist's plot...
                          or was he the target all along? It's a new look at Wolverine's past, as Logan investigates the crash that wiped his memory - and
                          uncovers things about his history that he didn't want to know! Plus, meet the man known as...Victor Creed!br

                          COLLECTING: Wol verine Max 1-5
                        </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
	</div>
</div>
<br><br><br><br><br><br><br><br><br><br>
<br>
